.calculation-panel {
    background: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    animation: fadeInDown .5s both;
    -webkit-box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.76);
    -moz-box-shadow:    0 0 11px 0 rgba(50, 50, 50, 0.76);
    box-shadow:         0 0 11px 0 rgba(50, 50, 50, 0.76);
}
.calculation-panel-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.calculation-panel-button {
    padding: 10px 20px;
    background: blue;
    color: white;
    cursor: pointer;
    transition: .2s;
}
.calculation-panel-button:hover {
    background: #5fc000;
}