.module-modules {
    background: #ece3d9;
}
.container-modules {
    margin: 30px 0;
    padding: 20px;
    background: white;
}
.module-item {
    padding: 10px 20px;
    background: #eaeaea;
    margin: 5px 10px 5px 0;
    cursor: pointer;
    border-radius: 2px;
    -webkit-user-select: none;
}
.module-item.selected {
    background: #5fc000;
    color: #fff;
}