.checklist-table {
    width: 100%;
}
.checklist-table tr {
     border-bottom: 1px solid lightgray;
}
.checklist-table td, .checklist-table th {
    padding: 10px 0;
}
.cercl-class {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 20px;
}
.green-class {
    background: #5fc000;
}
.red-class {
    background: red;
}
.yellow-class {
    background: #ffd02f;
}