.container-sub-modules {
    margin: 30px 0;
    height: 650px;
    overflow-y: auto;
}
.sub-module {
    position: relative;
    padding: 20px;
    background: white;
    margin: 20px 20px 20px 0;
}
.sub-module h2 {
    margin: 10px 0;
}
.close-sub-module {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 35px;
    cursor: pointer;
    color: lightgray;
    -webkit-user-select: none;
}
.close-sub-module:hover {
    color: gray;
}
.footer-sub-module {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.sub-module-select-all {
    color: lightgray;
    cursor: pointer;
    -webkit-user-select: none;
}
.sub-module-select-all:hover {
    color: gray;
}
.sub-module-item {
    padding: 10px 20px;
    background: #eaeaea;
    margin: 5px 10px 5px 0;
    cursor: pointer;
    border-radius: 2px;
    -webkit-user-select: none;
}
.sub-module-item.selected {
    background: #5fc000;
    color: #fff;
}
.sub-paragraph-wrapper {
    margin: 20px 0;
}
