.module-presets {
    background: #E4D2BD;
    padding: 50px 0;
}
.container-presets {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 0;
}
.preset-item {
    padding: 10px 20px;
    background: #eaeaea;
    margin: 5px 10px 5px 0;
    cursor: pointer;
    border-radius: 2px;
    -webkit-user-select: none;
}
.preset-item.selected {
    background: #5fc000;
    color: #fff;
}