
@keyframes zoomInZoomOut {
    to {
        transform: scale3d(.98, .98, .98)
    }
}
@keyframes grafW {
    from {
        width: 0;
    }
    to {
        width: 1;
    }
}

@keyframes blend {
    7% {
        mix-blend-mode: multiply;
    }
    14% {
        mix-blend-mode: screen;
    }
    21% {
        mix-blend-mode: overlay;
    }
    28% {
        mix-blend-mode: darken;
    }
    35% {
        mix-blend-mode: lighten;
    }
    42% {
        mix-blend-mode: color-dodge;
    }
    49% {
        mix-blend-mode: color-burn;
    }
    56% {
        mix-blend-mode: soft-light;
    }
    63% {
        mix-blend-mode: difference;
    }
    70% {
        mix-blend-mode: exclusion;
    }
    77% {
        mix-blend-mode: hue;
    }
    84% {
        mix-blend-mode: saturation;
    }
    91% {
        mix-blend-mode: color;
    }
    98% {
        mix-blend-mode: luminosity;
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translate3d(-50px, 0, 0)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translate3d(50px, 0, 0)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translate3d(0, -50px, 0)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fade-title-side {
    0% {
        opacity: 0;
        transform: translate3d(-500px, 0, 0)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes grow-up {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes float1 {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -10px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

@keyframes float2 {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoom-in {
    from {
        opacity: 0;
        transform: scale(.3, .3) translate3d(0, 0, 0)
    }
}

@keyframes zoom-in-out {
    0% {
        opacity: 0;
        transform: scale(.3, .3) translate3d(0, 0, 0)
    }
    50% {
        transform: scale(1.3, 1.3) translate3d(0, 0, 0)
    }
    100% {
        opacity: 1;
        transform: scale(1, 1) translate3d(0, 0, 0)
    }
}

@keyframes zoom-in-y {
    from {
        transform: scale(1, 0) translate3d(0, 0, 0);
    }
}

@keyframes zoom-in-x {
    from {
        transform: scale(0, 1) translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-50px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    to {
        opacity: 1;
    }
}
@keyframes stamp {
    from {
        opacity: 0;
        transform: scale3d(1.3, 1.3, 1.3);
    }
    20% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes scaleH {
    from {
        transform: scale3d(1, 0, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes scaleW {
    from {
        transform: scale3d(.3, 1, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}
@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes messageLine {
    0% {
        transform: translate3d(-300px, 0, 0);
        width: 300px;
    }
    50% {
        transform: translate3d(-20px, 0, 0);
        width: 300px;
    }
}

@keyframes messageRed {
    0% {
        width: 3px;
        height: 0;
    }
    50% {
        width: 3px;
        height: 100%;
    }
    100% {
        width: 100%;
    }
}

@keyframes moneyDown {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 250%, 0);
    }
}

@keyframes waveZoom {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    30% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    75% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes monet {
    from {
        transform: translate3d(-200%, 0, 0) rotate(-360deg);
    }
    to {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}

@keyframes attackLeft {
    0% {
        transform: none;
    }
    100% {
        transform: translate(50px, 0);
    // transform: none;
    }
}

@keyframes attackRight {
    0% {
        transform: none;
    }
    100% {
        transform: translate(-50px, 0);
    // transform: none;
    }
}

@keyframes chains {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes chains2 {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes bact {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes waveOn {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(0, 20px)
    }
    100% {
        transform: translate(0, 0)
    }
}

@keyframes glowAni {
    0% {
        transform: translate3d(0, 0, 0)rotate(0deg);
        opacity: 1;
    }
    35% {
        transform: translate3d(40px, -20px, 0)rotate(45deg);
        opacity: 0;
    }
}

@keyframes chainWave {
    0% {
        transform: none;
    }
    50% {
        transform: translate3d(0, 50px, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes space-separator {
    0% {
        transform: scale(0.002, 0);
    }
    50% {
        transform: scale(0.002, 1);
    }
    100% {
        transform: none;
    }
}

@keyframes oscillation {
    from {
        transform: rotate(-3deg);
    }
    to {
        transform: rotate(3deg);
    }
}

@keyframes painCircle {
    0% {
        width: 47px;
        height: 47px;
    }
    100% {
        width: 170px;
        height: 170px;
        border-width: 0px;
        opacity: 0;
    }
}

@keyframes float {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -10px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes drop {
    0% {
        transform: scale3d(0.01, 0.01, 0.01) translateY(0);
    }
    10% {
        transform: scale3d(1, 1, 1);
    }
    44% {
        transform: scale3d(1, 1, 1) translateY(360px);
    }
    100% {
        transform: scale3d(1, 1, 1) translateY(360px);
    }
}

@keyframes swayMotion {
    from {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(2deg);
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}

@keyframes waveX2 {
    from {
        transform: translate3d(0,-14px,0);
    }
    50% {
        transform: translate3d(0,14px,0);
    }
    to{
        transform: translate3d(0,-14px,0);
    }
}

@keyframes waveX1 {
    from {
        transform: translate3d(0,-7px,0);
    }
    50% {
        transform: translate3d(0,7px,0);
    }
    to{
        transform: translate3d(0,-7px,0);
    }
}